body{
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #95c8ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
.box-login{
    width: 550px;
    background: #fff;
    border-radius: 12px;
}

.txtcenter{
    text-align: center;
    margin: 16px;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

input{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.2rem;
}

button{
    padding: 0.5rem 3rem;
    background: rgb(228, 228, 228);
    margin-bottom: 2rem;
    border-radius: 10px;
    transition: 300ms ease-in-out;
}
button:hover{
    color:white;
    background: rgb(122, 122, 122);
}
